@model IEnumerable<FamilyConnext.Models.Connection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointsAwarded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConnectionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsAwarded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MemberName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConnectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConnectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConnectionID })
        </td>
    </tr>
}

</table>
