@model IEnumerable<FamilyConnext.Models.Milestone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MilestoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointsNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MilestoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsNeeded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MilestoneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MilestoneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MilestoneID })
        </td>
    </tr>
}

</table>
